.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #a7d7ec;
}

.SidebarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.SidebarList ul {
  padding: 0;
  margin: 0;
}

.SidebarList .item {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--web-ui-font);  
}

.SidebarList .item #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.SidebarList .item #title {
  flex: 70%;
}

.SidebarList .item:hover {
  cursor: pointer;
  background-color: #364b53;
  color:white;
  transition: 0.1s;
}

.SidebarList #active {
  font-weight: bold;
}
