#root {
  height: 100vh;
  width: 100vh;
  margin: 0px;
  padding: 0px;
}

.App {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #a7d7ec;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


